.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 4px;
  line-height: 1.15;
  font-size: 1.25rem;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 2000px;
  flex-direction: row;
}

.card {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 600px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.search-result-list {
  list-style-type: none;
  padding-left: 0;
}

.snippet {
  font-size: 0.7rem;
}

.card p {
  margin: 0;
  font-weight: bold;
  font-size: 1.25rem;
}

.powered {
  width: 120px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.count {
  border-radius: 10px;
  font-family: monospace;
  width: 2em;
  padding: 0px 3px;
  border: 1px solid #0070f3;
  background: white;
  color: #0070f3;
}

.label {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.1em 1em;
  background-color: #eee;
  color: #444;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
.tags-list {
  list-style-type: none;
}

.button {
  border-color: #666;
  border-radius: 5px;
  padding: 5px;
  width: 600px;
}

.button:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.hidden {
  display: none;
}


.index {
  display: flex;
}

.tag {
  display: inline-block;
  border-radius: 2px;
  font-size: 0.7rem;
  padding: 2px 1em;
  margin: 2px;
  color: #FFFFFF;
  background: #6699f3;
}

.line {
  margin-right: 2px;
  display: inline-block;
}

.article {
  border-radius: 2px;
  font-size: 0.7rem;
  padding: 2px 4px;
  margin: 1px;
  color: #ff0087;
  border: 1px solid #ff0087; 
}
.article:hover {
  background-color: #eeeeee;
}

.copyButton {
  border-radius: 2px;
  font-size: 0.7rem;
  margin: 1px;
  padding: 2px 4px;
  border: 1px solid #999;
  background: #999;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
