name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: true
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: build
        # dummy ID
        env:
          NEXT_PUBLIC_ALGOLIA_APP_ID: dummy
          NEXT_PUBLIC_ALGOLIA_INDICES: a,b,c
        run: |
          pnpm build

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: true
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: eslint
        run: |
          pnpm lint

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: true
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: prettier
        run: |
          pnpm lint:format

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: true
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: typecheck
        run: |
          pnpm typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: true
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - name: test
        # dummy ID
        env:
          NEXT_PUBLIC_ALGOLIA_APP_ID: dummy
          NEXT_PUBLIC_ALGOLIA_INDICES: hatenablog,til
          NEXT_PUBLIC_API_MOCKING: enabled
        run: |
          pnpm test
